**/*.sh
module.pm.tmpl
**/*.pl
**/*.pm
*.gz
*.log
*.tmp
.\#*
\#*
bin/bootstrap
deploy
ecr-lifecycle-policy
ecr-repo
ecr-uri
extra-files
image
image-digest
invoke
lambda-function
lambda-function
lambda-function-url
lambda-function-url-invoke-permission
lambda-function-url-permission
lambda-policies
lambda-role
lambda-sqs-trigger
lambda-s3-trigger
lambda-s3-permission
local/
policy-document
provides
resources
s3-bucket
sqs-queue
test-sns
update-function
uri
